<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Criação da Tarefa:</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <ion-input label="Título" label-placement="floating" fill="outline" placeholder="Ex.: Resgatar Cachorrinhos" color="purple"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea label="Descrição" labelPlacement="floating" fill="outline" placeholder="Ex.: Salvar todos os 'doguinhos'..." color="purple"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>Adicionar Etapas:</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-select label-placement="floating" fill="outline" label="Quantidade de Etapas:" [(ngModel)]="quantidade" color="purple">
          <ion-select-option *ngFor="let qtd of quantidades" [value]="qtd">
            {{qtd}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Aqui está o ngFor para criar as etapas dinamicamente -->
    <div *ngFor="let etapa of getEtapasArray(); let i = index">
      <ion-row>
        <ion-col>
          <h3>Etapa {{i + 1}}:</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea [label]="'Descrição da Etapa ' + (i + 1)" labelPlacement="floating" fill="outline" placeholder="Ex:  Encontrar os cachorrinhos..." color="purple"></ion-textarea>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <ion-button expand="block">Salvar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>