<ion-menu contentId="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Olá, {{nome}}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-button expand="block" routerLink="/dashboard"> 
    
      <ion-icon name="bar-chart"></ion-icon>
      

      &nbsp;Dashboard

    </ion-button> 

    <ion-button expand="block" (click)="logOut()"> 
    
      <ion-icon name="log-out"></ion-icon>
      

      &nbsp;Log-Out

    </ion-button> 

  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="">

    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" >
      <ion-fab-button color="dark">
        <ion-icon name="chevron-down" color="nutask"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="bottom" >
        <ion-fab-button color="success" (click)="adicionarTarefa()"> 
          <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="deletarTudo()">
          <ion-icon name="trash" color="dark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bem-Vindo(a), {{nome}}!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <p>Progresso de todas as tarefas: {{porcentagemTotal}}% concluída(s).</p>
               <p><ion-progress-bar color="nutask" [value]="mediaTotal"></ion-progress-bar></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of dados;">
        <ion-col>
          <ion-card (click)="listarTarefas(item.id)">
           
            <ion-card-header>
              <div class="cabecalho-avaliacao">
                <ion-card-title>{{item.titulo}}</ion-card-title>

                <ion-icon size="large" name="chevron-forward"></ion-icon>
              </div>
                
           
              
              
            </ion-card-header>
          
            
            <ion-card-content>
              <p>Progresso: {{item.porcentagem}} concluída.</p>
              <p><ion-progress-bar color="nutask" [value]="item.progresso"></ion-progress-bar></p>
            </ion-card-content>
            
          </ion-card>
          
        </ion-col>
      </ion-row>



    </ion-grid>


  </ion-content>

</div>

