<ion-menu contentId="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Fazer Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-button expand="block" routerLink="/dashboard"> 
    
      <ion-icon name="bar-chart"></ion-icon>
      

      &nbsp;Dashboard

    </ion-button> 

    <ion-button expand="block" routerLink="/cadastro"> 
    
      <ion-icon name="person-add"></ion-icon>
      

      &nbsp; Cadastro

    </ion-button> 

    <ion-button expand="block" routerLink="/login"> 
    
      <ion-icon name="person"></ion-icon>
      

      &nbsp; Login

    </ion-button> 

  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="">

    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" >
      <ion-fab-button color="dark">
        <ion-icon name="chevron-down" color="nutask"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="bottom" >
        <ion-fab-button color="success" (click)="adicionarTarefa()"> 
          <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="deletarTudo()">
          <ion-icon name="trash" color="dark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bem-Vindo!</ion-card-title>
              <ion-card-subtitle>Não tem uma conta? <a (click)="criarConta()">Crie aqui</a></ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Já possui uma conta? <a (click)="logarConta()">Faça o login aqui</a>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-content>

</div>

