<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-img src="../../../assets/images/logo-img.png"></ion-img>

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Preencha os campos abaixo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input 
            color="nutask" 
            label="Login" 
            label-placement="floating" 
            fill="outline"
            placeholder="Digite o Login ou Usuário" 
            [(ngModel)]="login"
            [clearInput]="true">
          </ion-input>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-input 
            label="Senha" 
            label-placement="floating" 
            fill="outline" 
            placeholder="Digite a senha"
            [(ngModel)]="senha" 
            color="nutask" 
            type="password">
          </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="logar()">Entrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="botao-cadastro" expand="full" routerLink="/cadastro">Cadastrar</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>





    </ion-card-content>

  </ion-card>





</ion-content>