<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações da Tarefa:</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <h3>Titulo da tarefa</h3>
    <h6>descricao</h6>
    <h5>Conclusão das Etapas:</h5>

    <ion-item *ngFor="let index of getEtapasArray(); let i = index">
      <ion-checkbox 
        justify="space-between" 
        [(ngModel)]="checkedEtapas[i]"
        (ionChange)="atualizarCheckbox(i)">
        {{etapas[i].descricao}}
      </ion-checkbox>
    </ion-item>
    
    <ion-button expand="block" color="danger">Excluir Tarefa</ion-button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h5>Conclusão das Etapas: {{porcentagem}}</h5>
    <p id="progressBar">
      <ion-progress-bar [value]="progress" color="success"></ion-progress-bar>
    </p>

    <ion-button expand="block" color="primary">Atualizar Tarefa</ion-button>
  </ion-toolbar>
</ion-footer>