<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações da Tarefa:</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{titulo}}</ion-card-title>
            <ion-card-subtitle>{{descricao}}</ion-card-subtitle>
          </ion-card-header>
          <br>
          <ion-card-content>
            <ion-card-title>Conclusão das Etapas:</ion-card-title>
            <ion-list>
              <ion-item *ngFor="let index of getEtapasArray(); let i = index">
                <ion-thumbnail slot="start">
                  <ion-checkbox justify="space-between" [(ngModel)]="checkedEtapas[i]" (ionChange)="atualizarCheckbox(i)" size="large"></ion-checkbox>
                </ion-thumbnail>
                <ion-label class="etapasDescricao"> {{etapas[i].descricao}}</ion-label>
              </ion-item>

    
            </ion-list>

              <ion-button expand="block" color="danger" (click)="deletarTarefa()">Excluir Tarefa</ion-button>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>Conclusão das Etapas: {{porcentagem}}</h5>
          <ion-progress-bar [value]="progress" color="dark"></ion-progress-bar>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <ion-button expand="block" color="dark" (click)="atualizarTarefa()">Atualizar Tarefa</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>






